body{
    width: 100%;
    margin: 0;
    display: block;
}
* {

}
.intro {
    width: 100%;
    height: 100vh;
    background: url(./img1.png)     
    center no-repeat;
    background-size: cover;
}
/* HEADER */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.conteiner__header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.header__logo {
    width: 73px;
    height: 73px;
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 20px;
    background-color: brown;
    display: inline-block;
    background: url(./logo.png);
    background-position: -25px -21px;
    position: absolute;
}
/* NAVIGATION */
.nav {
    font-size: 20px;
    display: inline-block;
    height: 100%;
    margin-top: 54px;
    margin-left: 280px;
}
.nav__link {
    color: #fff;
    padding-left: 20px; 
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-family: 'Lato', sans-serif;
}
.nav__link:hover {
    color: greenyellow;
}
.nav-fas {
    margin-left: 15px;
}
/* INTRO TITLE*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.intro__title {
    font-size: 52px;
    color: #fff;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-style: light;
}
.intro__inner {
    width: 100%;
    max-width: 425px;
    margin: 0 0 0 330px;
    padding: 285px 0 285px 0px;
}
.intro__subtitle {
    font-size: 14px;
    color: #fff;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-style: regular;
}
.conteiner__background {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.background-line-z8 {
background-color: #fff;
opacity: 0.502;
position: absolute;
top: -20px;
width: 100%;
height: 40px;
z-index: 8;
}
.background-line-z9 {
background-color: #ffffff;
position: absolute;
top: 0px;
width: 100%;
height: 40px;
z-index: 9;
}
/*CONTENT*/
.content {
    height: 500px;
    width: 100%;
    position: relative;
}
.left {
    width: 290px;
    height: 230px;
    margin: -10px 0 0 320px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 'thin';
}
.content__left {
    font-size: 20px;
    color: #fe992a;
    width: 290px;
    height: 150px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
.hidden {
    display: none;
}
.upper-quotes {
    width: 290px;
    height: 30px;
    font-size: 48px;
    color: #fe992a;
}
.down-quotes {
    width: 290px;
    height: 30px;
    font-size: 48px;
    color: #fe992a;
    margin-left: 70px;
    margin-top: 0px;
}
.angle {
    display: inline;
    text-align: center;
}
.fas {
    height: 40px;
    width: 40px;
}
.angle__left {    
    font-size: 38px;
    color: #fff;
    background-color: #ffba6e;
    margin-left: 190px;
}
.angle__left:hover {
    background: #fe992a;
    color: #fff;
}
.angle__right {
    font-size: 38px;
    color: #fff;
    background-color: #ffba6e;    
}
.angle__right:hover {
    background: #fe992a;
    color: #fff;
}
.vertical__line {
    width: 1px;
    height: 300px;
    margin: 0px 60px 0px 45px;
    background-color: #eaeaea;
    float: left;
    margin-top: 85px;
}
.right {
    width: 590px;
    height: 220px;
    float: left;
    margin-top:-20px; 
}
.h__right {
    text-align: left;
    color: #fe992a;
    display: block;
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
}
.content__right {
    font-size: 14px;
    text-align: left;
    color: #fe992a;
    width: 560px;
    display: flex;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
/*FOOTER*/
.footer {
    background-color: #e77674;
    height:475px;
    width: 100%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: greenyellow;
}
.contacts {
    position: relative;
    display: block;
    float: left;
    padding-left: 0px;
    padding-right: 180px;
    margin-left: 320px;
}
.contacts a {
    font-size: 12px;
    text-decoration: none;
    font-family: 'DroidSans', sans-serif;
    font-style: normal;
}
.column {
    display: block;
    position: relative;
    float: left;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}
.column a {
font-size: 12px;
text-decoration: none;
font-family: 'DroidSans', sans-serif;
}
.link_head {
    font-size: 12px;
    font-family: 'DroidSans', sans-serif;
    font-weight: bold;
}
.footer-position {
    text-align:center;
    width: 90%;
    margin: 0 auto;
}